body {
  background: #1d1d1d; 
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-family: Arial;
}

.calculadora {
  background: #2a2a2a;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
}

.display {
  background: #111;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 15px;
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
}

.teclado {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

button {
  background: #444;
  border: none;
  padding: 18px;
  font-size: 18px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

button:active {
  background: #555;
}

button:hover {
  background: #000000;
}

.igual {
  background: #0db17c;
}
.igual:active {
  background: #13d090;
}
